@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<p>Welcome Admin!</p>

<hr />

<h4>User Information</h4>

<ul>
    <li>Email: @User.Identity.Name</li>
    <li>Role: Admin</li>
</ul>

<hr />

<h3>Admin Actions</h3>

<ul>
    <li><a href="#">Add Book</a></li>
    <li><a href="#">Edit Book</a></li>
    <li><a href="#">Delete Book</a></li>
    <li><a href="#">Manage Users</a></li>
</ul>