@{
    ViewData["Title"] = "User Dashboard";
}

<h2>User Dashboard</h2>

<p>Welcome User!</p>

<hr />

<h4>User Information</h4>

<ul>
    <li>Email: @User.Identity.Name</li>
    <li>Role: User</li>
</ul>

<hr />

<h3>User Actions</h3>

<ul>
    <li><a href="#">View Books</a></li>
    <li><a href="#">My Orders</a></li>
    <li><a href="#">Cart</a></li>
</ul>